@import url("./catppuccin_theme.css");
@import url("./better_findbar.css");
@import url("./floating_statusbar.css");
@import url("./no_sidebar_scrollbar.css");
@import url("./remove_tab_x.css");

toolbarbutton.titlebar-button.titlebar-close,
#zen-create-new-button,
.zen-current-workspace-indicator {
  display: none !important;
}
