@media (-moz-bool-pref: "zen.view.sidebar-expanded") {
  #navigator-toolbox {
    --zen-navigation-toolbar-min-width: 100px !important;
  }
}

/* Reduced height */
@media (-moz-bool-pref: "zen.view.compact.hide-tabbar") {
  :root[zen-compact-mode="true"] #navigator-toolbox {
    top: calc((100vh - 70vh)/2) !important;
    height: 70vh !important;

    @media not (-moz-bool-pref: "zen.view.compact.hide-toolbar") {
      & {
        height: calc(70vh - var(--zen-toolbar-height-with-bookmarks)) !important;
      }
    }
  }
}
