@import url("./catppuccin_theme.css");
@import url("./better_findbar.css");
@import url("./floating_statusbar.css");
@import url("./no_sidebar_scrollbar.css");
@import url("./remove_tab_x.css");
@import url("./smaller_compact.css");

toolbarbutton.titlebar-button.titlebar-close,
.zen-current-workspace-indicator,
.pinned-tabs-container-separator,
#zen-create-new-button,
#zen-current-workspace-indicator-container {
  display: none !important;
}
